server:
  http:
    addr: 0.0.0.0:8002
    timeout: 1s
  grpc:
    addr: 0.0.0.0:9002
    timeout: 1s
registry:
  consul:
    address: 127.0.0.1:8500
    scheme: http
  endpoint: discovery:///review-service